body {
  margin: 0 auto;
  width: 800px;
  font-family: 'Roboto', sans-serif ;

}
img{
  margin-top: 30px;
}
h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 0.04em;

}
.container4 {
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-container {
  margin-top: 1px;
  color: #000000;
  width: 400px;
  height: 580px;
  padding: 60px;
  border: 2px solid #d8ecfd;
  border-radius: 30px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #6fafcc;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 0.18em;
  background-color: rgb(245, 245, 245);
}

input::placeholder {
  color: #c1bfbf;
}
/* Crear un botón de opción personalizado*/
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 20%;
  border: 1px solid #6fafcc;
  cursor: pointer;
  
  transition: transform 0.50s ease-in-out;

}
.checkmark1:hover input ~ .checkmark1 {
  transform: scale(0.100);
}
.checkmark1:active {
  transform: scale(0.100);
}

.aceptar-condiciones {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* eliminar los botones predeterminados*/

.condiciones input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.condiciones input[type="checkbox"]:not(:checked) ~ .checkmark1 {
  background-color: #eee;
}

/*Al pasar el mouse, agregue un color de fondo gris. */
.aceptar-condiciones:hover input ~ .checkmark1 {
  background-color: #ccc;

}
/* Cuando el botón de opción esté marcado, agregue un fondo azul */

.aceptar-condiciones input:checked ~ .checkmark1 {
  background-color: #01335c;
}
/* Cree el indicador (el punto/círculo, oculto cuando no está marcado)*/

.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}
/* Mostrar el indicador (punto/círculo) cuando esté marcado */

.aceptar-condiciones input:checked ~ .checkmark1:after {
  display: block;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #1c2844;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.oauth-options {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}
.btn-text{
  vertical-align: middle;
  margin-left:10px
}
.google-btn,
.facebook-btn {
 
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 10px;
  border-radius: 10px;
  cursor: pointer;

}

.google-btn {
 
  color: #000000;
  border: 1px solid #6fafcc;
  background-color: #ffffff;
  border-radius: 110px;
}

.facebook-btn {
  background-color: #235ad3;
  color: #fff;
  border-radius: 110px;
}
.google-icon,
.facebook-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 10px;
  
  
}
/*ventana*/
.modal-container{
  display: flex;
  background-color: rgba(5, 5, 5, 0.89);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.show{
  pointer-events: auto;
  opacity: 1;
}
.modal{
  background-color: #e8f3ff;
  width: 600px;
  max-width: 100%;
  padding: 20px 19px;
  border-radius: 25px;
  box-shadow: inset 0 0 10px rgba(14, 41, 132, 0.85); /* Sombra hacia dentro */
  text-align: center;
  animation-name: modalAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  position: fixed;
  right: -50vw;
  top: 50%;
  transform: translateX(auto);
  transition: right 0.6s ease;
  
}
.modal h1{
  margin: 0px;
  font-size: 28px;
  font-family:'Roboto', sans-serif;

}
.circle-check {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #7f8588;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 255px;
  margin-top: 9px;
  margin-bottom: 20px;
}
.checkmark {
  color: #000000;
  font-size: 30px;
  font-weight: 1000;
}
.checkmark:hover input ~ .checkmark {
  transform: scale(0.100);
}
.checkmark:active {
  transform: scale(0.100);
}
.button_cerrar button{
font-size: 0.9em;
font-weight: bold;
padding: 12px 76px;
border-radius: 30px;
border: 1px solid #003851;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
color: white;
background-color: #003851;
margin-top: 25px;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
}

.modal.modal-close {
  animation-name: modalCloseAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes modalCloseAnimation {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateX(100%);
    opacity: 0;
   
  }
}
.modal-container.show .modal {
  right: calc(50% - 300px); 
  transform: translate(0, -50%);
}

