* {
    box-sizing: border-box;
}

body {
    background-color: #ebf3f7;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    text-align: left;
    letter-spacing: 0.05em;
    margin-right: 70px;
}

.r {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 42px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #003851;
    margin-top: 20px;
    text-align: center;
}

.i {
    font-size: 1em;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 15px;
    border: 1px solid #003851;
    color: #003851;
    background-color: #ebf3f7;
    box-shadow: 2px 2px 2px rgba(81, 80, 80, 0.5);
}

.r:hover {
    background-color: #002535;
    cursor: pointer;
}

.i:hover {
    background-color: #002535;
    color: white;
    cursor: pointer;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: #ebf3f7;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: inline;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #003851;
    font-size: 1.04em;
    margin-right: 15px;
    margin-top: 4px;
}

header a:hover {
    color: #002535;
}

#hero {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: left;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-right: 20px; 
}

.jobimg {
    border-radius: 50%;
    border-style: dotted;
    border-color: #003851;
    border-width: 9px;
}

@media (min-width: 720px){
    header .container{
        flex-direction: row;
        justify-content: space-between; 
        margin-bottom: 50px;    
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
}
