* {
    box-sizing: border-box;
}

body {
    background-color: #ebf3f7;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.t {
    font-size: 2em;
    font-weight: 170;
    padding: 8px 68px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #003851;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0.07em;
}

.o {
    font-size: 2em;
    font-weight: bold;
    padding: 8px 50px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #002433;
    background-color: #BFD2D9;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0.05em;
}

.text1{
    font-size: 0.8em;
    padding: 1px 24px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #002535;
    text-align: center;
}

.text2{
    font-size: 0.8em;
    font-weight: bold;
    padding: 1px 35px;
    border-radius: 10px;
    border: 1px solid #327290;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #002433;
    background-color: #3B89AC;
    text-align: center;
    letter-spacing: 0.03em;
}

.t:hover {
    background-color: #002535;
    cursor: pointer;
}

.o:hover {
    background-color: #aac3ca;
    color: #002433;
    cursor: pointer;
}

header .container1 {
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .opcion{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 30px;
}

.opcion{
    max-width: 500px;
    margin: auto;
}

header {
    background-color: #ebf3f7;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aspirante {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-top: 50px;
}

.aspirante:hover{
    -webkit-transform:scale(1.0);transform:scale(0.8);
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    .text1{
        background-color: #ebf3f7;
        color:#ebf3f7;
        border: 1px solid #ebf3f7;
        box-shadow: none;
    }
    .t{
        box-shadow: none;
    }
}

.ofertante {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.ofertante:hover{
    -webkit-transform:scale(1.0);transform:scale(0.8);
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    .text2{
        background-color: #ebf3f7;
        color:#ebf3f7;
        border: 1px solid #ebf3f7;
        box-shadow: none;
    }
    .o{
        box-shadow: none;
    }
}

footer{
    margin-top: 50px;
    color:#003851;
    font-weight: bold;
    font-size: 1.1em;
}

footer a{
    color: #003851;
}

.container input[type=radio]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .container2 input[type=radio]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    right: 50px;
    width: 40px;
    background-color: #eee;
    border-radius: 50%;
  }

  .radio-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 110px;
    margin-top: 30px;
    margin-block-end: 20px;
    font-weight: 555;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
  }
  .container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
  }
  
  .container input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .container2 input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container2:hover input~.checkmark {
    background-color: #ccc;
  }
  .container:hover input~.checkmark {
    background-color: #ccc;
  }
  
  .container input:checked~.checkmark {
    background-color: #01335c;
  }
  .container2 input:checked~.checkmark {
    background-color: #01335c;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked~.checkmark:after {
    display: block;
  }
  .container2 input:checked~.checkmark:after {
    display: block;
  }
@media (min-width: 720px){
    header .container{
        flex-direction: column;
        justify-content: center; 
        margin-bottom: 30px;    
    }

    footer{
        display:flex;
        align-items: center;
        justify-content: center;
    }

}
