* {
    box-sizing: border-box;
}

body {
    background-color: #ebf3f7;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    text-align: left;
    letter-spacing: 0.05em;
    margin-right: 70px;
}

.buscar{
    border-radius: 15px;
    box-shadow: 2px 2px 1px rgba(58, 57, 57, 0.5);
    border: 1px solid #d3d3d3;
    background-color: #d9d9d9;
    width: 400px;
    padding: 13px;
}

.search1 img{
    margin-top: 10px;
    padding: 2px;
}

.em {
    font-size: 1.2em;
    font-weight: bold;
    padding: 11px 35px;
    border-radius: 15px;
    border: 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #3b89ac;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0.06em;
}

.em:hover {
    background-color: #002535;
    cursor: pointer;
}

.ntf, .msj, .prf{
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(58, 57, 57, 0.5);
    border: 1px solid #bfd2d9;
    background-color: #bfd2d9;
    width: 50px;
    height: 48px;
}

.ntf, .msj, .prf:hover {
    cursor: pointer;
}

.container {
    max-width: unset;
    margin: auto;
    margin-left: 35px;
}

header {
    background-color: #ebf3f7;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #003851;
    font-size: 1.04em;
    margin-right: 15px;
    margin-top: 4px;
}

header a:hover {
    color: #002535;
}

#hero {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.inform {
    display: flex;
    align-items: center; /* Alinear verticalmente en el centro */
    flex-direction: column;
    justify-content: center; /* Alinear horizontalmente en el centro */
    width: 500px;
    height: 750px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(132, 135, 137, 0.5);
    border-radius: 20px;
    background-color: #bfd2d9; 
}

.inform span{
    display: flex;
    width: 170px;
    height: 55px;
    background-color: #98c0ce;
    border-radius: 25px;
    margin-right: 5px;
    align-items: center;
    font-weight: bold;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #22646e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
}
  
.profile-pic i {
    transition: all 0.3s ease;
}

.profile-pic:hover i {
    transform: scale(1.2);
}

.profile-pic input[type="file"] {
    display: none;
}

@media (min-width: 720px){
    header .container{
        flex-direction: row;
        justify-content: space-between; 
        margin-bottom: 50px;    
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
}
