@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        background-color: #eff1f2;
}
main{
  margin-top: 29px;
}
.header {
    background-color: #eff1f2;
    width: 100%;
    height: 70px;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 10%;
    flex-direction: row;
}
.header .logo-jobSearch:hover{
    transform: scale(1.2);
}
.logo-jobSearch{
    width:143px;
    height: 140px;
    transition: all 0.3s;   
}
.nav-right{
    width: 350px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.nav-right .boton-empleos{
    width: 150px;
    height: 40px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 4px 32px;
    border-radius: 15px;
    border: 1px;
    color: white;
    background-color: #3b89ac;
    text-align: center;
    letter-spacing: 0.06em;
    align-items: center;
    border-radius: 20px;
    transition: all 0.3s;
}
.nav-right .boton-empleos:hover{
    transform: scale(1.2);   

}
.nav-right .icono-mensajes:hover{
    transform: scale(1.2);
}
.nav-right .icono-notificacion:hover{
    transform: scale(1.2);
}
.nav-right .icono-perfil:hover{
    transform: scale(1.2);
}
.nav-mid{
    height: 50px;
    width: 600px;
    display: flex;
}
.nav-mid .logo-buscar{
    width: auto;
    height: 35px;
    transition: all 0.3s;
}
.nav-mid .logo-buscar:hover{
    transform: scale(1.2);
}

input{
    padding: 0 auto;
    width: 400px;
    height: 35px;
    border-radius: 40px;
    background-color: #d9d9d9;
    border:none;
    font:20px "Open Sans";
    letter-spacing: 0.06em;
    font-size: 1.1em;
    font-weight: bold;
    
  }
.diseador-multimedia {
    width: 500px;
    height: 50px;
    margin-right:50%;
    right: 1px;
    position: absolute;

    
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-sizing: border-box; 
}

.close{
  top: 10px;
  right: 10px;
  position:absolute;
  z-index: 1px;
}

.diseador-multimedia-wrapper {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
    box-sizing: border-box;
    max-width: 100%;
    
    letter-spacing: normal;
    text-align: center;
    font-size: 35px;
    color: #22646e;
    font-family: "Open Sans";
}


.frame-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: -1px;
    bottom: -1px;
    left: 0;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.38);
    filter: blur(2px);
    border-radius: 15px;
    background-color:#eff1f2;
    border: 1px solid #043f59;
    box-sizing: border-box;
  }

.diseador-multimedia1 {
    align-self: stretch;
    position: relative;
    font-weight: 800;
    z-index: 1;
}
.horas-semanales,
  .salario-2500000-cop,
  .tiempo-parcial,
  .trabajo-remoto {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    z-index: 1;
}
.rectangle-div {
    height: 50.5px;
    width: 200.5px;
    position: relative;
    border-radius: 50px;
    background-color: #98c0ce;
    border: 0.5px solid #eff1f2;
    box-sizing: border-box;
    display: none;
}
.vecteezy-colombia-flat-rounded-icon {
    height: 42px;
    width: 42px;
    position: relative;
    object-fit: contain;
    z-index: 1;
}
.colombia {
    align-self: stretch;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    font-family: "Open Sans";
    color: #1e1e1e;
    text-align: center;
    z-index: 1;
}
  .colombia-wrapper {
    width: 119px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0 0;
    box-sizing: border-box;
}
.frame-wrapper,
.rectangle-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-container {
    cursor: pointer;
    border: 0.5px solid #eff1f2;
    padding: 3px 10px;
    background-color: #98c0ce;
    width: 200.5px;
    border-radius: 50px;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 10px;
    z-index: 1;
}
.frame-wrapper {
    align-self: stretch;
    justify-content: center;
    padding: 0 20px;
}
.diseador-multimedia-parent,
.horas-semanales-parent,
.trabajo-remoto-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trabajo-remoto-parent {
    align-self: stretch;
    gap: 33px;
}

.diseador-multimedia-parent,
.horas-semanales-parent {
    max-width: 100%;
}

.horas-semanales-parent {
    width: 400px;
    gap: 13px;
    font-size: 24px;
    color: #000;
}
.diseador-multimedia-parent {
    width: 461px;
    gap: 18px;
    min-width: 461px;
}

.sunburst-media,
.trabajo-ofrecido-por {
  align-self: stretch;
  position: relative;
  font-weight: 800;
  z-index: 2;
}
.sunburst-media {
    height: 83px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
}
.trabajo-ofrecido-por-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.group-icon {
    height: 125px;
    width: 125px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}
.frame-wrapper1 {
    width: 383px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 100%;
  }
.frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 100%;
}
.frame-container,
.frame-group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
    width: 399px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 13px 0 0;
    box-sizing: border-box;
    min-width: 399px;
    color: #002535;
}
.frame-group {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
}
.frame-child1 {
    width: 920px;
    height: 480px;
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: #bfd2d9;
    display: none;
    max-width: 100%;
}

.sunburst-media-es-una-empresa1 {
    font-weight: 600;
  }
  .sunburst-media-es-una-empresa {
    margin: 0;
  }
  .blank-line1 {
    font-weight: 600;
  }
  .blank-line {
    margin: 0;
  }
  .como-diseador-multimedia-ser1 {
    font-weight: 600;
  }
  .como-diseador-multimedia-ser {
    margin: 0;
  }
  .blank-line3 {
    font-weight: 600;
  }
  .blank-line2 {
    margin: 0;
}
.habilidades-y-experiencias-req1 {
    font-weight: 600;
  }
  .habilidades-y-experiencias-req {
    margin: 0;
    font-size: 25px;
  }
  .experiencia-en-el-uso-de-softw2 {
    font-weight: 600;
  }

  .experiencia-en-el-uso-de-softw1 {
    margin-bottom: 0;
  }
  .conocimientos-en-diseo-grfic1 {
    font-weight: 600;
  }
  .conocimientos-en-diseo-grfic {
    margin-bottom: 0;
  }
  .conocimientos-en-desarrollo-de1 {
    font-weight: 600;
  }
  .conocimientos-en-desarrollo-de {
    margin-bottom: 0;
  }
  .creatividad-y-habilidades-de-c1 {
    font-weight: 600;
  }
  .creatividad-y-habilidades-de-c {
    margin-bottom: 0;
  }
  .conocimiento-bsico-de-program {
    font-weight: 600;
  }
  .experiencia-en-el-uso-de-softw {
    margin: 0;
    padding-left: 24px;
  }
  .sunburst-media-es-container {
    align-self: stretch;
    position: relative;
    z-index: 3;
  }

  .frame-child2 {
    align-self: stretch;
    width: 400px;
    position: relative;
    border-radius: 50px;
    background-color: #22646e;
    display: none;
    max-width: 100%;
    top: 0;
    right: -1px;
    bottom: -1px;
    left: 0;
  }
  
  .group-div {
    width: 400px;
    border-radius: 50px;
    background-color: #22646e;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 50px;
    z-index: 3;
  }
  .frame-wrapper3,
  .group-div,
  .rectangle-parent1,.caja-postularse {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-wrapper3 {
    
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 1px 0 0;
    text-align: center;
    font-size: 20px;
    color: #eff1f2;
  }

.caja-postularse .boton-postularse{

    width: 150px;
    height: 40px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 4px 32px;
    border-radius: 15px;
    border: 1px;
    color: white;
    background-color: #3b89ac;
    text-align: center;

}
  .rectangle-parent1 {
    width: 920px;
    
    border-radius: 30px 30px 0 0;
    background-color: #bfd2d9;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1px 35px 14px 36px;
    gap: 45px;
    z-index: 2;
  }
  .frame-wrapper2 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    text-align: left;
    font-size: 18px;
    color: #000;
  }
  .frame-wrapper2,
  .rectangle-group,
  .trabajo-sunset-inner {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }

  .rectangle-group {
    width: 1086px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 0 0;
    position: relative;
    gap: 36px;
    text-align: center;
    font-size: 28px;
    color: #22646e;
    font-family: "Open Sans";
  }
  .trabajo-sunset-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
  }
  .icon-close-circle {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 0 !important;
    top: 150px;
    right: 158px;
    cursor: pointer;
    z-index: 2;
  }
  .whatsapp-image-2024-04-21-at-2-icon {
    width: 143px;
    height: 141px;
    position: absolute;
    margin: 0 !important;
    top: -12px;
    left: 0;
    object-fit: contain;
    cursor: pointer;
    z-index: 3;
  }
  .trabajo-sunset {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #eff1f2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 25px;
    color: #22646e;
    font-family: "Open Sans";
  }



.diseador-multimedia {
    font-size: 20px;
}
.diseador-multimedia1 {
    font-size: 22px;
}

.colombia,
  .horas-semanales,
  .salario-2500000-cop,
  .tiempo-parcial,
  .trabajo-remoto {
    font-size: 19px;
  }
  .trabajo-remoto-parent {
    gap: 16px;
  }
  .trabajo-ofrecido-por {
    font-size: 22px;
  }
  .sunburst-media {
    font-size: 19px;
  }
  .postularse {
    font-size: 16px;
  }
  .group-div {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .rectangle-parent1 {
    gap: 22px;
  }




.conteiner-principal{
    width: 1086px;
    height: 745px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 0 0;
    position: relative;
    gap: 36px;
    text-align: center;
    font-size: 28px ;
    color: #22646e;
    font-family: "Open Sans";
    margin:0 auto;
    
}

.frame-wrapper3{
    height: 100%;

}
.boton-postularse{
    width: 300px;
    height: 50px;
    font:20px "Open Sans";
    background-color: #22646E;
    color: #EFF1F2;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 15px;
    border: 1px;
    letter-spacing: 0.06em;
    border-radius: 20px;
    transition: all 0.3s;
}

.boton-postularse:hover{
    transform: scale(1.1);
}



/*ventana*/
.modal-container01{
  display: flex;
  background-color: rgba(5, 5, 5, 0.89);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal{
  background-color: #e8f3ff;
  width: 600px;
  max-width: 100%;
  padding: 70px 19px;
  border-radius: 40px;
  box-shadow: inset 0 0 10px rgba(14, 41, 132, 0.85);
  text-align: center;
  animation-name: modalAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  position: fixed;
  top: auto;
  left: 50%;
  transform: translateX(-50%); /* Centrar verticalmente */
  transition: bottom 0.7s ease; 
  z-index: 1;
  
}
.modal h1{
  margin: 0px;
  color: rgb(32, 32, 32);
  font-size: 28px;
  font-family:'Roboto', sans-serif;

}

.button_cerrar button{
font-size: 0.9em;
font-weight: 900;
padding: 9px 74px;
border-radius: 30px;
border: 3px solid #003851;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
color: rgb(0, 0, 0);
background-color: #ffffff;
margin-top: 25px;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
}
.button_cerrar2 button{
font-size: 0.9em;
font-weight: bold;
padding: 12px 76px;
border-radius: 30px;
border: 1px solid #003851;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
color: white;
background-color: #003851;
margin-top: 25px;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
}
.button_cerrar,.button_cerrar2{
  float: left;
  margin-left: 40px; /* Ajusta el margen entre los botones */
}
.modal.modal-close {
  animation-name: modalCloseAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes modalAnimation {
  0% {
    transform: translate(-50%, 100%); /* Iniciar desde abajo */
  }
  100% {
    transform: translate(-50%, -50%); /* Terminar centrado */
  }
}
/*ventana dos*/
/* Estilos para la segunda ventana emergente */
.modal2 {
  background-color: #e8f3ff;
  width: 690px;
  max-width: 100%;
  height: 45%;
  padding: 90px 19px;
  border-radius: 50px;
  box-shadow: inset 0 0 10px rgba(14, 41, 132, 0.85);
  text-align: center;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  position: fixed;
  top: auto;
  left: 32%;
  z-index: 1;
}

.modal-container02 {
  display: flex;
  background-color: rgba(5, 5, 5, 0.89);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  top: 0;
  opacity: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.close-button2 button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: rgb(22, 41, 49);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.modal2 h1 {
  margin-top: -50px;
  font-size: 30px;
  font-weight: 950;
  font-family: 'Roboto', sans-serif;
}

.modal2 h2 {
  margin: 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.modal2 p {
  margin: 30px;
  font-weight: 500;
  align-content: center;
  font-size: 21px;
  color: rgb(68, 68, 68);
  font-family: 'Roboto', sans-serif;
}

.negrita {
  font-weight: bold;
}

.show{
  pointer-events: auto;
  opacity: 1;
}

/*ventanas de mensaje y notificación */
.container_nmp {
  display: none;
  position: absolute;
  top: -345px; /* mirar si en pc grande es igual  Ajusta esta posición según sea necesario */
  left: 79%;
  color: #000000;
  width: 355px;
  height: 500px;
  padding: 60px;
  border: 2px solid #d8ecfd;
  border-radius: 20px;
  text-align: left;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1; 
  background-color: #ffffff;
}
header{
  background-color: #fff;
  
}
.encabezado {
  margin-left: -35px;
  margin-bottom: 25px;
}

.modal_1 {
  font-size: 9px;
  margin-top: -60px;
}

.modal_1 hr {
  margin-top: 10px;
  margin-left: -10px;
}

.mensajes {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
  margin-left: -50px;
  margin-right: -50px;
  gap: 6px;
}

.mensaje {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #bfd1d8;
  border-radius: 9px;
  padding: 10px;
  border: 1.5px solid #b8babc;
    border-top-left-radius: 26px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 26px;
}

.mensaje img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.mensaje-info {
  flex-grow: 1;
}

.mensaje-info h2 {
  font-size: 16px;
  margin: 0;
 
}
.mensajes a{
  color: #000000;
  text-decoration: none;
}

.mensaje-info p {
  font-size: 12px;
  margin: 5px 0 0 0;
}

/*ventana de notificaciones*/
.container_n {
  display: none;
  position: fixed;
  top: 84px; /* Ajusta esta posición según sea necesario */
  left: 66%;
  color: #000000;
  width: 360px;
  height: 455px;
  padding: 60px;
  border: 2px solid #d8ecfd;
  border-radius: 20px;
  text-align: left;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1; 
  background-color: #ffffff;
  
}
header{
  background-color: #fff;
}
.encabezado2 {
  margin-left: -35px;
  margin-bottom: 25px;
}

.modal_2 {
  font-size: 9px;
  margin-top: -60px;
}

.modal_2 hr {
  margin-top: 10px;
  margin-left: -10px;
}

.notificaciones {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
  margin-left: -60px;
  margin-right: -60px;
  gap: 2px;
}

.notificacion {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e3e9ec;
  padding: 10px;
}

.notificacion img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.notificaciones-info {
  flex-grow: 1;
}

.notificaciones-info h2 {
  font-size: 16px;
  margin: 0;
 
}
.notificaciones a{
  color: #000000;
  text-decoration: none;
}

.notificaciones-info p {
  font-size: 12px;
  margin: 5px 0 0 0;
}
.show{
  display: flex;
  pointer-events: auto;
}











  



  

  