* {
    box-sizing: border-box;
}

body {
    background-color: #ebf3f7;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.recuperar button {
    font-size: 0.8em;
    font-weight: bold;
    padding: 12px 60px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #003851;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0.05em;
}

p{
    text-align: center;
    color: dimgray;
}

input{
    font-size: 1.05em;
    width: 340px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #0396da;
    background-color: #EBEBEB;
}

.reg{
    font-weight: bold;
    color: #003851;
}

a{
    color: #003851;
}

.recuperar button:hover {
    background-color: #002535;
    cursor: pointer;
}

h1{
    letter-spacing: 0.16em;
    font-size: 1.26em;
}

header .container {
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #ebf3f7;
}

#hero {
    display: flex;
    align-items: center; /* Alinear verticalmente en el centro */
    justify-content: center; /* Alinear horizontalmente en el centro */
}

.recuperar {
    display: flex;
    align-items: center; /* Alinear verticalmente en el centro */
    flex-direction: column;
    justify-content: center; /* Alinear horizontalmente en el centro */
    width: 530px;
    height: 400px;
    padding: 60px;
    box-shadow: 2px 2px 10px rgba(132, 135, 137, 0.5);
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}

input[type="text"]{
    font-size: 20px;
    letter-spacing: 0.18em;
    font-weight: bold;
}

input::placeholder{
    color: #c1bfbf 
}

@media (min-width: 720px){
    header .container{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;  
    }


}